@model QuestionnaireVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QuestionnaireVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Number of Options
        </dt>
        <dd class="col-sm-10">
            @Model.Options.Count
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Is Correct</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var option in Model.Options)
            {
                    <tr>
                        <td>@option.Content</td>
                        <td>@option.IsCorrect</td>
                    </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    <a asp-action="Index">Back to List</a>
</div>
